/* You can add global styles to this file, and also import other style files */
.header{
  background: red;
  height:40px;
  color:white;
  margin-top:5px;
}

.header-left{
  height:40px;
  line-height:40px;
  color:white;
  font-size:20px;
  font-weight:bold;
  border-right:6px solid transparent;
  border-radius:20px;
}

.header-center{
  height:40px;
  line-height:40px;
  color:black !important;
  font-size:10px;
}

.headerlink{
  color:black !important;
}

.header-right{
  height:40px;
  line-height:40px;
  color:white;
  font-size:15px;
}

.header a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.header a:hover{
  color:white;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: red !important;
  border-color: red !important;
}

.login-form{
  position:relative;
  width:80%;
  margin-top:30px;
  margin-left:10%;
  border:3px solid red;
  border-radius:5px;
}

.login-form-button{
  border:1px solid red;
}


.search-select {
  position: relative;
  font-family: Arial;
  height:30px;
  border:1px solid transparent;
  border-bottom:1px solid lightgray;
}

.search-select select {
  display: none; /*hide original SELECT element:*/
}

.search-select {
  background-color: white;
}
.search-select:hover {
  cursor: pointer;
}

.search-button{
  background-color: white;
  border:1px solid transparent;
  border-bottom:1px solid lightgray;
  height:30px;
}

.search-click:hover{
  color: red;;
}

.promo-search-bar{
  width:90%;
  margin-left:5%;
  margin:50px;
}


.example-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.example-boundary {
  width: 100%;
  height: 600px;
  max-width: 100%;
  border: dotted #ccc 2px;
}

.template-container{
  position: relative;

}


.resizable {
  resize: both;
  overflow: scroll;
  border: 1px solid black;
}

.table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after {
  opacity: 1;
  color: red !important;
}
.table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
  color: red;
}
.table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
  color:red;
}

html, body { height: 100%;margin:0;padding:0;}
body { margin: 0;padding:0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input {
  outline:none;
 }

 @font-face {
  font-family: "Stylus ITC Bold";
  src: local("Stylus ITC Bold"), url(./assets/STYLIB.ttf) format("truetype");
}

@font-face {
  font-family: "Avenir Black Oblique";
  src: local("Avenir Black Oblique"), url(./assets/blackopique.ttf) format("truetype");
}

@font-face {
  font-family: "MorrisonsAgenda";
  src: local("MorrisonsAgenda"), url(./assets/morrisonsagenda.ttf) format("truetype");
}

@font-face {
  font-family: "MorrisonsAgendaLight";
  src: local("MorrisonsAgendaLight"), url(./assets/morrisonsagendalight.TTF) format("truetype");
}

@font-face {
  font-family: "Avenir-Black-03";
  src: local("Avenir-Black-03"), url(./assets/Avenir-Black-03.TTF) format("truetype");
}
@font-face {
  font-family: "Avenir-Book-01";
  src: local("Avenir-Book-01"), url(./assets/Avenir-Book-01.TTF) format("truetype");
}

@font-face {
  font-family: "Avenir-BlackOblique-04";
  src: local("Avenir-Black-03"), url(./assets/Avenir-Black-03.TTF) format("truetype");
}

@font-face {
  font-family: "Avenir-Heavy-05";
  src: local("Avenir-Heavy-05"), url(./assets/Avenir-Heavy-05.TTF) format("truetype");
}



@font-face {
  font-family: "Avenir-HeavyOblique-06";
  src: local("Avenir-HeavyOblique-06"), url(./assets/Avenir-HeavyOblique-06.TTF) format("truetype");
}

@font-face {
  font-family: "Avenir-Light-07";
  src: local("Avenir-Light-07"), url(./assets/Avenir-Light-07.TTF) format("truetype");
}



@font-face {
  font-family: "Avenir-LightOblique-08";
  src: local("Avenir-LightOblique-08"), url(./assets/Avenir-LightOblique-08.TTF) format("truetype");
}


@font-face {
  font-family: "Avenir-Medium-09";
  src: local("Avenir-Medium-09"), url(./assets/Avenir-Medium-09.TTF) format("truetype");
}

@font-face {
  font-family: "Avenir-MediumOblique-10";
  src: local("Avenir-MediumOblique-10"), url(./assets/Avenir-MediumOblique-10.TTF) format("truetype");
}

@font-face {
  font-family: "Avenir-Oblique-11";
  src: local("Avenir-Oblique-11"), url(./assets/Avenir-Oblique-11.TTF) format("truetype");
}

@font-face {
  font-family: "Avenir-Roman-12";
  src: local("Avenir-Roman-12"), url(./assets/Avenir-Roman-12.TTF) format("truetype");
}

@font-face {
  font-family: "Avenir-Roman-12";
  src: local("Avenir-Roman-12"), url(./assets/Avenir-Roman-12.TTF) format("truetype");
}

@font-face {
  font-family: "FSIndustrieCd-Medium";
  src: local("FSIndustrieCd-Medium"), url(./assets/FSIndustrieCd-Medium.TTF) format("truetype");
}


/* @font-face {
  font-family: "FSIndustrieCd-Medium";
  src: local("FSIndustrieCd-Medium"), url(./assets/FSIndustrieCd-Medium.TTF) format("truetype");
} */

