<div *ngIf="displayTemplatePackBox" class="template-create-container">
  <div class="createTemplateOptionContainer">
    <h4 style="text-align:center;padding-bottom:10px;background:red;color:white;border-radius:15px;">Create Offer Type</h4>
  </div>
  <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Name
    </div>
    <div class="createTemplateInputBox">
    <input style="width:100%;" class="createTemplateInput" [(ngModel)]="currentOfferType.name" type="text" name="newTemplateName"/>
    </div>
  </div>

  <!-- <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Stores
    </div>
    <div class="createTemplateInputBox">
      <select style="width:100%;" class="createTemplateInput">
        <option *ngFor="let store of storeList" value="{{store.storeId}}">
            {{store.storeName}}
        </option>
      </select>
    </div>
  </div> -->
  <div class="createTemplateOptionContainer" style="padding-top:5px;">
    <input (click)="insertOfferType()" style="background-color: white;border:0px solid transparent;border-bottom:1px solid lightgray" type="button" value="Submit">
  </div>
</div>

<div class="row">
  <div style="margin-top: 40px;position:relative" class="col-md-12" class="text-center">
    <div class="template-header">
      <i class="fa fa-search"></i>&nbsp;
      Band&nbsp;
      <select class="search-button" (change)="setCurrentBand($event.target.value)">
        <option *ngFor="let band of bandList" value="{{band.id}}">
          &nbsp;&nbsp;&nbsp;{{band.bandLetter}}&nbsp;&nbsp;&nbsp;
        </option>
      </select>
      &nbsp;&nbsp;
      <i class="fa fa-search"></i>&nbsp;
      Offer Type &nbsp;
      <select (change)="getOfferDisplayTypes($event.target.value)" class="search-button">
        <option value="0">
          Select
        </option>
        <option *ngFor="let offerType of offerTypeList" value="{{offerType.id}}">
            {{offerType.name}}
        </option>
      </select>
      &nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp;
      <button  class="search-button"  (click)="openCreateTemplatePackBox()"><i class="fa fa-plus"></i> &nbsp;New OfferType</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button [ngClass]="{'overridestoreselect-active': !defaultOffersView, 'overridestoreselect' : defaultOffersView }" (click)="setDefaultStoreTypeView()">Default</button>
      &nbsp;&nbsp;<button [ngClass]="{'overridestoreselect-active': defaultOffersView, 'overridestoreselect' : !defaultOffersView }" (click)="setCustomStoreTypeView()">Custom</button>

    </div>
    <div>
    </div>
  </div>
</div>

<div class="row" [hidden]="!defaultOffersView">
  <div style="margin-top:40px;" class="col-md-12">
    <table class="table table-bordered table-striped text-center" style="position:relative;width:50%;margin-left: 25%;">
      <thead>
        <tr>
          <td>Template</td>
          <td>Quantity</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offerType of offerDisplayTypes; let i = index">
          <td>
            {{offerType.description}}
          </td>
          <td>
            <input class="text-center" type="text" [(ngModel)]="offerType.amount" (blur)="checkEditedAmount(i)" >
          </td>
          <td>
            <button (click)="updateOfferDisplayType(offerType.id)" style="color:orange; background-color: white;"><i class="fa fa-wrench"></i></button>
            &nbsp;&nbsp;
            <button (click)="deleteOfferDisplayType(offerType.id)" style="color:red; background-color: white;"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr [hidden]="!displayAddType">
          <td>
            <select (change)="setDisplayType($event.target.value)">
              <option value="0">
                Select Template
              </option>
              <option *ngFor="let displayType of templateList" value="{{displayType.id}}">
                {{displayType.templateName}}
              </option>
            </select>
          </td>
          <td>
            <input class="text-center" type="text" [(ngModel)]="offerDisplayTypeDb.amount" (blur)="checkAmount()">
          </td>
          <td>
            <button (click)="insertOfferDisplayType()" style="color:green; background-color: white;"><i class="fa fa-plus"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" [hidden]="defaultOffersView">
  <div class="col-md-12 text-center" style="padding-top:10px;padding-bottom:10px;;border-bottom:0px solid lightgrey;;border-top:2px solid lightgrey;position:relative;width:50%;margin-left: 25%;margin-bottom:15px;margin-top: 40px;">
    <div class="row">
      <div class="col-md-3">
       <button class="search-button" (click)="addNewOfferTypeDisplayTypes()">
        <i class="fa fa-plus"></i> New Override</button>
      </div>
      <!-- <div class="col-md-3">
        &nbsp;&nbsp;
        <i class="fa fa-file"></i>&nbsp;
        <select class="search-button" (change)="GetStoresByBandAndIsland($event.target.value)">
          <option value = "0">
            Select Island
          </option>
          <option *ngFor="let island of islandList" value="{{island.islandId}}">
            {{island.islandName}}
          </option>
        </select>
      </div> -->
      <div class="col-md-9 text-left">
        <button [ngClass]="{'overridestoreselect-active': !offerType.Active, 'overridestoreselect' : offerType.Active }"
         (click)="GetOfferTypeDisplayTypes(offerType.storeID)"
         class="pull-left overridestoreselect"
          *ngFor="let offerType of storeOfferTypeDisplayTypesStores; let i = index">
          {{offerType.storeName}}
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered table-striped text-center" style="position:relative;width:50%;margin-left: 25%;">
      <thead>
        <tr>
          <td>Template</td>
          <td>Quantity</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offerType of storeOfferTypeDisplayTypes; let i = index">
          <td>
            {{offerType.templateName}}
          </td>
          <td>
            <input class="text-center" type="text" [(ngModel)]="offerType.amount" (blur)="checkEditedAmount(i)" >
          </td>
          <td>
            <button [hidden]="displayAddStoreOfferType" (click)="updateStoreDisplayOfferType(i)" style="color:orange; background-color: white;"><i class="fa fa-wrench"></i></button>

          </td>
        </tr>
        <tr [hidden]="!displayAddStoreOfferType">
          <td>

          </td>
          <td>
            &nbsp;&nbsp;
            <i class="fa fa-file"></i>&nbsp;
            <select class="search-button" (change)="SetStoresOnStoreDisplayOfferType($event.target.value)">
              <option value = "0">
                Select Store
              </option>
              <option *ngFor="let store of storeList" value="{{store.storeID}}">
                {{store.storeName}}
              </option>
            </select>

          </td>
          <td>
            <button (click)="insertStoreDisplayOfferType()">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
