.template-create-container{
  position: relative;
  position: absolute;
  top: 100px;
  left: 600px;
  margin-top: -50px;
  margin-left: -50px;
  width: 340px;
  height: 220px;
  background-color: white;
  z-index: 99999;
  border:3px solid red;
  border-radius: 15px;;
  text-align:center;
  margin-top:3px;
}
.createTemplateOptionContainer{
  position: relative;
  width:100%;
  min-height:30px;
  float:left;
}

.createTemplateLable{
  position: relative;
  width:35%;
  height:30px;
  float:left;
}

.createTemplateInputBox{
  position: relative;
  width:65%;
  height:30px;
  float:left;
}

.createTemlateInput{
  position: relative;
  width:100%;
  height:35px;
}

.overridestoreselect{
  background-color: red;
  margin-right:5px;
  border-radius: 10px;
  color: white;
  border:1px solid lightgray;
}

.overridestoreselect-active{
  background-color: white;
  color: red;
  margin-right:5px;
  border-radius: 10px;
  border:1px solid lightgray;
}

.search-button-storedisplayview{
  background-color: white;
  border:1px solid transparent;
  border-bottom:1px solid lightgray;
  height:30px;
}

.search-button-storedisplayview-active{
  background-color: white;
  border:1px solid transparent;
  border-bottom:1px solid lightgray;
  height:30px;
  color:red;
}

.search-button{
  background-color: white;
  border:1px solid transparent;
  border-bottom:1px solid lightgray;
  height:30px;
}

