<div class="row">
  <div class="col-md-12">
    <h1 class="text-center" style="margin-top: 30px;font-size:30px;">Reports</h1>
   </div>
</div>
<div class="row">
  <div class="col-md-12">
   <table class="table table-striped" style="position: relative;width:50%;margin-left:25%;">
     <thead>
       <tr>
        <th>
          Name
         </th>
         <th>
            Link
         </th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor = "let u of reportList;  let i = index">
         <td>
          {{u.name}}
         </td>
         <td>
          <a class="report-link" (click)="goToLink(u.location)"><b>View Report</b></a>
         </td>
         </tr>
     </tbody>
     </table>
   </div>
</div>
