
<div class="full" [hidden]="!displayRequestOption">
  <div class="full-options">

      <div class="full-options-header">

        <h3 class="text-center">New Print Request <i class="fa fa-close pull-right form-close-button" (click)="closeStoreDisplay()"></i></h3>
      </div>
      <div class="full-options-body">
        <div class="full-options-row">
          <div class="full-options-label">
              Product Code
          </div>
          <div class="full-options-input">
            <b>{{storeRequestDisplay.buyerOffer.promProdCode}}</b>
        </div>
        </div>
        <div class="full-options-row">
          <div class="full-options-label">
              Description
          </div>
          <div class="full-options-input">
            <b>{{storeRequestDisplay.buyerOffer.promDescription}}</b>
        </div>
        </div>


        <div class="full-options-row" style="margin-top:10px; margin-bottom:10px;border-top:3px solid black;padding-top:10px;">
           <h4 style="color:black;">Select Template</h4>
        </div>


        <div class="full-options-row" >
          <div class="full-options-label">
              Size
          </div>
          <div class="full-options-input">
            <select class="req-input"  (change)="setReqSize($event.target.value)">
              <option value="0">Select Size</option>
              <option *ngFor="let band of promoDisplayTypeList" value="{{band.id}}">
                {{band.description}}
            </option>
            </select>
        </div>
        </div>
        <div class="full-options-row">
          <div class="full-options-label">
              Template
          </div>
          <div class="full-options-input">
            <select class="req-input" (change)="setReqTemplate($event.target.value)" >
              <option value="0">
                Select Template
              </option>
              <option *ngFor="let template of storeRequestTemplateList" value="{{template.id}}">
                {{template.templateName}}
            </option>
            </select>
        </div>
        </div>
        <div class="full-options-row">
          <div class="full-options-label">
              Amount
          </div>
          <div class="full-options-input">
            <input  [(ngModel)]="this.currentStoreRequetsTemplate.amount" class="req-input" type="number" min="0" [ngModel]="storeRequestDisplay.stroreRequest.quantity" (blur)="setReqAmount($event.target.value)">
        </div>
        </div>
        <div class="full-options-row">
          <div class="full-options-label">

          </div>
          <div class="full-options-input">
            <button class="reqbutton"  (click)="previewTemplate(storeRequestDisplay.stroreRequest.buyersOfferID, currentStoreRequetsTemplate.templateId)">Preview Template</button>
            &nbsp;&nbsp;
            <button class="reqbutton"  (click)="addRequestTemplateToRequest()">Add Template</button>
            &nbsp;&nbsp;

        </div>
        </div>
        <div class="full-options-row" style="margin-top:10px; margin-top:10px;border-top:3px solid black;padding-top:10px;">
          <div class="full-options-label">
              <b>Selected Templates</b>
          </div>
          <div class="full-options-input text-left">
            <span *ngFor="let temp of storeRequestDisplay.template" style="font-size:20px; color:red;">
              <b>{{temp.templateName}} ({{temp.amount}})</b>&nbsp;&nbsp;
            </span>
        </div>
        </div>

        <div class="full-options-row" style="margin-top:10px; margin-top:10px;border-top:3px solid black;padding-top:10px;">
          <button class="reqbutton"  (click)="insertStoreRequest()">Add to cart</button>
       </div>
      </div>
  </div>
</div>
<div [hidden]="!promoView" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center" style="width:90%;margin-left:5%;margin-top:30px;padding:10px;">
        <i *ngIf="isAdmin" class="fa fa-search"></i>
        <span style="font-weight:bold;" *ngIf="isAdmin">Band</span>
        &nbsp;
        <select *ngIf="isAdmin" class="search-select header-icon" (change)="getStoresByBandId($event.target.value)">
          <option *ngFor="let band of bands" value="{{band.id}}">
            &nbsp;{{band.bandLetter}}&nbsp;
        </option>
        </select>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <i *ngIf="isAdmin" class="fa fa-search header-icon"></i>
        <span style="font-weight:bold;" *ngIf="isAdmin">Island</span>
        &nbsp;
        <select *ngIf="isAdmin" class="search-select" (change)="getPromotionsByBandAndIslnad($event.target.value)">
          <option value="0">Select</option>
          <option *ngFor="let b of islandList" value="{{b.islandName}}">
            {{b.islandName}}</option>
        </select>
        &nbsp;&nbsp; &nbsp;
        <i *ngIf="isAdmin" class="fa fa-search header-icon" ></i>
        <span style="font-weight:bold;" *ngIf="isAdmin">Order</span>
        &nbsp;
        <select *ngIf="isAdmin"  class="search-select" (change)="getPromotionsByBandWithOrder($event.target.value)">
          <option value="">Select</option>
          <option *ngFor="let field of FieldList" value="{{field.description}}">
            {{field.description}}
          </option>
        </select>
        &nbsp;&nbsp; &nbsp;
        <i *ngIf="isAdmin" class="fa fa-filter header-icon"></i>
        <span style="font-weight:bold;" *ngIf="isAdmin">Filter</span>
        &nbsp;
        <select *ngIf="isAdmin"  class="search-select" (change)="getPromotionsByBandWithOrderFilter($event.target.value)">
          <option value="">Select</option>
          <option *ngFor="let field of filterList" value="{{field}}">
            {{field}}
          </option>
        </select>
       <!-- <input type="text" vlaue="" [(ngModel)]="searchPhrase" (blur)=""/> -->
        &nbsp;&nbsp;<span *ngIf="isAdmin">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
        <i *ngIf="isAdmin" class="fa fa-upload"></i> <button *ngIf="isAdmin" type="button" class="search-button" (click)="file.click()"><input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">Import</button>
        &nbsp;&nbsp;
        <input *ngIf="isAdmin" type="button" class="search-button search-click" (click)="updatePromotions()" value="Update"/>
        &nbsp;&nbsp;


        <!-- <i class="fa fa-file"></i>
        <select [(ngModel)]="selectedItemType" class="search-select">
          <option *ngFor="let b of itemTypes" [ngValue]="b">{{b.name}}</option>
        </select>
        &nbsp;&nbsp; -->
        <!-- <button (click)="search()" class="search-button search-click"><i class="fa fa-search"></i> Search</button> -->
        &nbsp;&nbsp;&nbsp;
        <span *ngIf="isAdmin" class="pull-left">

          <i [ngClass]="{'active-offers': activeOrders, 'not-active-offers' : !activeOrders }" class="fa fa-file cart" style="font-size:20px;" (click)="displayCart('orderView', true)"></i>
          Orders
          <span style="font-size:15px;">
            &nbsp;{{orderLength}}
          </span>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span *ngIf="isAdmin" class="pull-left">
          &nbsp;&nbsp;&nbsp;

          <i  [ngClass]="{'active-store-offers': activeStoreOffers, 'not-active-store-offers' : !activeStoreOffers }" class="fa fa-shopping-cart cart" style="font-size:20px;" (click)="displayCart('cartView')"></i>
          Cart
          <span style="font-size:15px;">
            &nbsp;{{cartLength}}
          </span>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="pull-left">
          &nbsp;&nbsp;&nbsp;
          <i [ngClass]="{'active-offers': activeOffers, 'not-active-offers' : !activeOffers }" class="fa fa-bell cart" style="font-size:20px;" (click)="displayCart('cartViewStore')"></i>
          <!-- <i *ngIf="!isAdmin" [ngClass]="{'active-offers': activeOffers, 'not-active-offers' : !activeOffers }" class="fa fa-shopping-cart cart" style="font-size:20px;" (click)="displayCart('cartViewStore')"></i> -->
          <span>Requests</span>
          <span style="font-size:15px;">
            {{cartLengthStore}}
          </span>
        </span>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!cartView" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center" style="width:90%;margin-left:5%;margin-top:30px;padding:10px;">
        <i (click)="displayCart('promoView')" class="fa fa-arrow-left pull-left cart"></i><h5>Shopping Cart</h5>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!orderView" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center" style="width:90%;margin-left:5%;margin-top:30px;padding:10px;">
        <i (click)="displayCart('promoView')" class="fa fa-arrow-left pull-left cart"></i><h5>Orders</h5>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!cartViewStore" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center" style="width:90%;margin-left:5%;margin-top:30px;padding:10px;">
        <i (click)="displayCart('promoView')" class="fa fa-arrow-left pull-left cart"></i><h5>
          Store Requests</h5>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div [hidden]="!promoView" class="col-md-12 table-responsive"  style="margin-top:10px;">
    <table  class="table table-striped" id="mytablexxxxx" style="border:1px solid lightgray;border-radius:20px;">
      <thead class="thead-dark">
        <tr>
          <th class="text-center" style="width:250px;">
            <button style="background:green;height:30px;color:white;border-radius: 5px;font-size:13px;" *ngIf="isAdmin" (click)="insertMultipleStoreOrders()" value="Add All">Select All</button>
            <button style="background:red;height:30px;color:white;border-radius: 5px;font-size:13px;" *ngIf="isAdmin" (click)="deleteMultipleStoreOrders()" value="Remove All">Remove All</button>
          </th>
          <th>ProductCode</th>
          <th>suppProdCode</th>
          <th  class="text-center" style="width:350px;">Description</th>
          <th  class="text-center" style="width:300px;">&nbsp;&nbsp;&nbsp;&nbsp;Size&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th  class="text-center">PromStartDt</th>
          <th  class="text-center">PromEndDt</th>
          <th  class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;D&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th  class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th  class="text-center">NormPrc</th>
          <th  class="text-center">PromPrice</th>
          <th  class="text-center">Savings</th>
          <th  class="text-center" style="width:250px;">PromotionMessage</th>
          <th  class="text-center" style="width:200px;">Slogan</th>
          <th  class="text-center" style="width:200px;">DeptDesc</th>
          <th  class="text-center">Iceland/Morrisons Multibuy Price</th>
          <th  class="text-center">Morrisons Multibuy Qty</th>
          <th  class="text-center" style="width:350px;">Morrisons Generic Description</th>
          <th>Band Name</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let u of promotions;  let i = index">
          <td  class="text-center" style="width:200px;">
            <input *ngIf="isAdmin" type="checkbox" [checked]="u.inCart"  (click)="insertStoreOffer(u.buyersOfferID)"/>
            <input *ngIf="!isAdmin" type="checkbox"  (click)="displayStoreRequest(u.buyersOfferID)"/>
            <input disabled type="text" style="width: 200px;background: transparent;border:1px solid transparent">
          </td>
          <td  class="text-center" style="color:black;">
            {{u.promProdCode }}
            <!-- {{ u.PromCode }} -->
          </td>
          <td  class="text-center" style="color:black;">
            <!-- {{u.suppProdCode }} -->
            <input type="text" style="min-width:200px" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.suppProdCode">
            <!-- {{ u.PromCode }} -->
          </td>
          <td  class="text-center" style="min-width:200px" >
            <input type="text" style="min-width:200px" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.promDescription">
          </td>
          <td  class="text-center" style="min-width:100px">
            <span style="display:none;">{{u.size}}</span>
            <input style="width:100px" type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.size">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.promStartRetDate}}</span>
            {{ u.promStartRetDate}}
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.promEndRetDate}}</span>
            {{ u.promEndRetDate}}
          </td>
          <td  class="text-center">
            {{ u.promIsland }}
          </td>
          <td  class="text-center">
            {{ u.prBand }}
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.promRetail}}</span>
            <input type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.currentCost">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.currentCost}}</span>
            <input type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.promRetail">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.savings}}</span>
            <input type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.savings">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.promMessage}}</span>
            <input type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.promMessage">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.slogan}}</span>
            <input style="width:150px" type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.slogan">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.promDeptDesc}}</span>
            <input type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.promDeptDesc">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.multibuyPrice}}</span>
            <input type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.multibuyPrice">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.multibuyQty}}</span>
            <input type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.multibuyQty">
          </td>
          <td  class="text-center">
            <span style="display:none;">{{u.genericDescription}}</span>
            <input type="text" class="form-control promo-table-input text-center" name="{{i}}" [(ngModel)]=" u.genericDescription">
          </td>
          <td  class="text-center" style="color:black;">
            {{u.bandName }}
            <!-- {{ u.PromCode }} -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div [hidden]="!cartView" class="col-md-12 table-responsive"  style="margin-top:10px;width:80%;margin-left:10%;">
    <div class="offer-type-select-container">
      <span class="pull-left">Offer Type &nbsp;&nbsp;</span>
      <select class="pull-left" (change)="onSelectOfferType($event.target.value)">
        <option>
          Select Offer Type
        </option>
        <option *ngFor="let offerType of offerTypeList" value="{{offerType.id}}">
          {{offerType.name}}
        </option>
      </select>
      &nbsp;
      <!-- <select class="pull-left" (change)="getOrdersById($event.target.value)">
        <option>
          Select Order
        </option>
        <option *ngFor="let order of orderList" value="{{order.orderId}}">
          {{order.orderNumber}}
        </option>
      </select> -->
      <button class="confirm-order pull-right" (click)="insertOrder()">Confirm Order</button>
    </div>
    <table class="table table-striped" id="mytable" style="border:1px solid lightgray;border-radius:20px;">
      <thead class="thead-dark">
        <tr>
          <th  class="text-center">Remove</th>
          <th  class="text-center">Product Code</th>
          <th  class="text-center">Description</th>
          <th  class="text-center">Location</th>
          <th  class="text-center">Band</th>
          <th  class="text-center">Store</th>
          <th  class="text-center">Options</th>
          <!-- <th  class="text-center">Status</th> -->
      </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let u of cartItems;  let i = index">
          <td  class="text-center" style="color:black;">
           <button style="background-color: white;color:red;" (click)="removeFromCart(u.storeOffersId)">X</button>
            <!-- {{ u.PromCode }} -->
          </td>
          <td  class="text-center" style="color:black;">
            {{u.Promo.promProdCode }}
            <!-- {{ u.PromCode }} -->
          </td>
          <td  class="text-center" style="width:300px;">
            {{u.Promo.promDescription}}
          </td>
          <td  class="text-center">
            {{ u.Promo.promIsland }}
          </td>
          <td  class="text-center">
            {{ u.Promo.prBand }}
          </td>
          <td  class="text-center">
            {{ u.storeName }}
          </td>
          <td  class="text-center">
          <div *ngFor="let offerDisplayType of u.offerDisplayType" style="position:relative;width:100%;float:left;">
           <div style="position:relative;width:70%;float:left;">
            <button style="background-color: white;" (click)="previewTemplate(u.Promo.buyersOfferID, offerDisplayType.templateId)"><i class="fa fa-search"></i></button> &nbsp;
            <span>{{offerDisplayType.description}}</span>

           </div>
           <div style="position:relative;width:30%;float:left;">
            {{offerDisplayType.amount}}
          </div>
          </div>
          </td>
          <!-- <td  class="text-center">
            {{ u.Staus.name }}
          </td> -->
        </tr>
      </tbody>
    </table>

  </div>
  <div [hidden]="!orderView" class="col-md-12 table-responsive"  style="margin-top:10px;width:80%;margin-left:10%;">
    <div class="offer-type-select-container">
      &nbsp;&nbsp;<button [hidden]="newOrderView" class="pull-left" [ngClass]="{'overridestoreselect-active': !orderByCurrentOrPast, 'overridestoreselect' : orderByCurrentOrPast }" (click)="onSelectOrderTypeView(true)">Current</button>
      &nbsp;&nbsp;<button [hidden]="newOrderView" class="pull-left" [ngClass]="{'overridestoreselect-active': orderByCurrentOrPast, 'overridestoreselect' : !orderByCurrentOrPast }" (click)="onSelectOrderTypeView(false)">Completed</button>

      <span [hidden]="newOrderView"  *ngIf="isAdmin" class="pull-left">&nbsp;&nbsp; Order &nbsp;&nbsp;</span>
      <select [hidden]="newOrderView"  *ngIf="isAdmin" class="pull-left" (change)="getOrdersById($event.target.value)">
        <option>
          Select Order
        </option>
        <option *ngFor="let order of orderList" value="{{order.orderId}}">
          {{order.orderNumber}}
        </option>
      </select>


      &nbsp;<button class="confirm-order pull-right" (click)="processOrder()">  &nbsp; &nbsp;Send To Printers  &nbsp; &nbsp;</button>
      <span class="pull-right"> &nbsp; &nbsp;</span>
      <select class="pull-right" (change)="setCurrentPrinter($event.target.value)">
        <option>
          Select Printer
        </option>
        <option *ngFor="let order of printerList" value="{{order.id}}">
          {{order.name}}
        </option>
      </select>
      &nbsp; &nbsp;
      <span class="pull-right">&nbsp;&nbsp; Print House &nbsp;&nbsp;</span>
    </div>
    <div class="offer-type-select-container-child" *ngFor = "let order of orderDtoListDisplay;  let i = index">
      <h1 class="order-display-header text-center"> {{order.Store}}</h1>
      <table class="table table-striped" id="mytable999" style="border:1px solid lightgray;border-radius:20px;">

        <thead class="thead-dark">
          <tr>
            <th  class="text-center">Product Code</th>
            <th  class="text-center">Description</th>
            <th  class="text-center">Location</th>
            <th  class="text-center">Store</th>
            <th  class="text-center">Template</th>
            <th  class="text-center">Amount</th>
            <!-- <th  class="text-center">Status</th> -->
        </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let u of order.oderDto;  let i = index">

            <td  class="text-center" style="color:black;">
              {{u.promProdCode }}
              <!-- {{ u.PromCode }} -->
            </td>
            <td  class="text-center" style="width:300px;">
              {{u.promDescription}}
            </td>
            <td  class="text-center">
              {{ u.islandName }}
            </td>
            <td  class="text-center">
              {{ u.storeName }}
            </td>
            <td  class="text-center">
              {{ u.templateName }}
            </td>
            <td  class="text-center">
              {{ u.amount }}
            </td>
            <!-- <td  class="text-center">
              {{ u.Staus.name }}
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div [hidden]="!cartViewStore" class="col-md-12">
    <div class="offer-type-select-container" style="width:80%;margin-left:10%;">
      <span  *ngIf="isAdmin" class="pull-left">&nbsp;&nbsp; Order &nbsp;&nbsp;</span>
      <select  *ngIf="isAdmin" class="pull-left" (change)="getStoreRequestsByOrderId($event.target.value)">
        <option>
          Select Order
        </option>
        <option *ngFor="let offerType of storeRequestOrderList" value="{{offerType.requestOrderID}}">
          {{offerType.orderNumber}}
        </option>
      </select>

      <button (click)="confirmStoreRequestByUser()" [hidden]="isAdmin" class="confirm-order pull-right">Confirm Order</button>
      <button (click)="confirmStoreRequestAdmin()" [hidden]="!isAdmin" class="confirm-order pull-right">Confirm Order Admin</button>
      <!-- &nbsp;<button class="confirm-order pull-right" (click)="processOrder()">  &nbsp; &nbsp;Send To Printers  &nbsp; &nbsp;</button> -->

    </div>
  </div>

  <div [hidden]="!cartViewStore" class="col-md-12 table-responsive"  style="position:relative;margin-top:10px;width:80%;margin-left:10%;">

    <div class="offer-type-select-container-child" *ngFor = "let order of storeRequestActionDisplayList;  let i = index">
      <h1 class="order-display-header text-center"> {{order.store}}
      </h1>
      <div class="offer-type-select-container-child" *ngFor = "let product of order.storeRequestActionDisplayListProduct;  let j = index">
        <h2>{{product.product}}</h2>

        <table class="table table-striped" id="mytable" style="border:1px solid lightgray;border-radius:20px;">
          <thead class="thead-dark">
            <tr>
              <th  class="text-center">Description</th>
              <th  class="text-center">Template Size</th>
              <th  class="text-center">Template Name</th>
              <th  class="text-center">Amount</th>
              <!-- <th  class="text-center">Qty</th> -->
              <th  class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let u of product.storeRequestAction;  let k = index">
              <td  class="text-center" style="width:300px;">
                {{u.promDescription}}
              </td>
              <td  class="text-center" style="width:100px;">
                {{u.sizeDescription}}
              </td>
              <td  class="text-center">
                {{ u.templateName }}
              </td>
              <td   class="text-center">
                <input class="text" type="text" [(ngModel)]="u.amount">
              </td>
              <!-- <td  class="text-center" style="width:150px;">
               <button (click)="decrementCartAmount(u.Promo.buyersOfferID)"  style="background-color: white;">-</button><input type="text" value="{{u.amount}}" style="width:50px;text-align:center;"><button (click)="incrementCartAmount(u.Promo.buyersOfferID)" style="background-color: white;">+</button>
              </td> -->
              <td  class="text-center">
               <button (click)="updateStoreRequestAmount(u.templateMapId, i, j, k)" style="background-color: white;"><i class="fa fa-wrench" style="color:green;"></i></button>
                &nbsp;&nbsp;
                <!-- <button style="background-color: white;color:red;" (click)="removeFromCartStore(u.storeRequestsId)">X</button> -->
              </td>
            </tr>
          </tbody>
          </table>
      </div>

      </div>
    <!-- <table class="table table-striped" id="mytable" style="border:1px solid lightgray;border-radius:20px;">
      <thead class="thead-dark">
        <tr>

          <th  class="text-center">Product Code</th>
          <th  class="text-center">Description</th>
          <th  class="text-center">Template Size</th>
          <th  class="text-center">Template Name</th>
          <th  class="text-center">Amount</th>

          <th  class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let u of storeRequestActionList;  let i = index">

          </td>
          <td  class="text-center" style="color:black;">
            {{u.promProdCode }}

          </td>
          <td  class="text-center" style="width:300px;">
            {{u.promDescription}}
          </td>
          <td  class="text-center" style="width:100px;">
            {{u.sizeDescription}}
          </td>
          <td  class="text-center">
            {{ u.templateName }}
          </td>
          <td  class="text-center">
            {{ u.amount }}
          </td>

          <td  class="text-center">
           <button (click)="confirmStoreRequest(u.storeRequestsId)" style="background-color: white;"><i class="fa fa-check" style="color:green;"></i></button>
            &nbsp;&nbsp;
            <button style="background-color: white;color:red;" (click)="removeFromCartStore(u.storeRequestsId)">X</button>
          </td>
        </tr>
      </tbody>
    </table> -->
    <!-- <button (click)="upsertStoreOffers()">Confirm Order</button> -->
  </div>
</div>

