.promo-table-input{
  background-color: transparent;
  border:1px solid transparent;
}

.cart:hover{
  color:red;
  cursor: pointer;
}

.active-offers{
  color:red;
}

.not-active-offers{
  color:black;
}

.active-store-offers{
  color:red;
}

.not-active-store-offers{
  color:black;
}

.offer-type-select-container{
  position: relative;
  width:100%;
  height:40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.offer-type-select-container-child{
  position: relative;
  width:100%;
  min-height:40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.offer-type-select-container-child{
  position: relative;
  width:100%;
  min-height:40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.confirm-order{
  background:green;
  border-radius:5px;
  color:white
}

.confirm-order:hover{
  background:white;
  border-radius:5px;
  color:green
}

.order-display-header{
  text-align: center;
  font-size: 20px;
  color: red;
}

.overridestoreselect-active{
  background-color: white;
  color: red;
  margin-right:5px;
  border-radius: 10px;
  border:1px solid lightgray;
}

.overridestoreselect{
  background-color: red;
  margin-right:5px;
  border-radius: 10px;
  color: white;
  border:1px solid lightgray;
}

.full{
  position: relative;
  position: fixed;
  height: calc(100vh + 20px);
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
top:-20px;
}

.full-options{
  position: relative;
  width:40%;
  min-height: 500px;
  background-color: white;
  margin-left: calc(30%);
  margin-top: calc(25% - 200px);
  border:3px solid red;
  border-radius: 10px;
  padding:20px;
  padding-top: 10px;
}

.form-close-button:hover{
  cursor: pointer;
  color:black;
}

.full-options-header{
  position:relative;
  float: left;
  height:35px;
  width: 100%;
  margin-bottom:10px;
  background-color: red;
  color:white;
}

.full-options-body{
  position:relative;
  float: left;
  min-height:35px;
  width: 100%;
  margin-left: 0;
  background:white;
}
.full-options-row{
  position:relative;
  float: left;
  min-height:35px;
  width: 100%;
  text-align:center;
}

.req-input{
  position: relative;
  width: 100%;
  min-height:35px;
  text-align: center;
}

.reqbutton{
  position: relative;
  margin-top: 20px;
  background-color: white;
  border: 1px solid red;
}

.full-options-label{
  position:relative;
  float: left;
  min-height:35px;
  width: 30%;
  text-align:center;
}
.full-options-input{
  position:relative;
  float: left;
  min-height:35px;
  width: 70%;
}

.header-icon{
  font-size:12px
}
