<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
<div class="row" class="header">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2 text-center header-left">
          SandpiperCI POS
      </div>
      <div class="col-md-7 text-center header-center">
        <a [ngClass]="{'active': dashboard, 'not-active' : !guideView }"  routerLink="tutorials" (click)="setDashboardView('guides')"> <i class="fa fa-question"></i> Help </a> &nbsp;&nbsp;&nbsp;
        <a [ngClass]="{'active': homeView, 'not-active' : !homeView }" routerLink="home" (click)="setDashboardView('home')"><i class="fa fa-home"></i> Promotions</a> &nbsp;&nbsp;&nbsp;
        <a [ngClass]="{'active': templateView, 'not-active' : !templateView }" routerLink="templates" (click)="setDashboardView('template')"><i class="fa fa-home"></i> Templates</a> &nbsp;&nbsp;&nbsp;
        <a [ngClass]="{'active': templatePackView, 'not-active' : !templatePackView }" routerLink="templatepacks" (click)="setDashboardView('templatepack')"><i class="fa fa-home"></i>Offer Types</a> &nbsp;&nbsp;&nbsp;
        <a [ngClass]="{'active': dashboard, 'not-active' : !dashboard }"  routerLink="dashboard" (click)="setDashboardView('dashboard')"> <i class="fa fa-bar-chart"></i> Reports </a> &nbsp;&nbsp;&nbsp;
      </div>
      <div class="col-md-3 text-center header-right">
        <i class="fa fa-sign-out"></i>&nbsp;<span id="logoutclick" (click)="logOut()">Logout</span>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <!-- <div class="col-md-3">

      </div> -->
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
</div>
