#logoutclick:hover{
  cursor: pointer;
}

.active{
  color:white !important;
  text-decoration: underline;
}

.not-active{
  color:black !important;
  text-decoration: underline;
}

.fill {
position:relative;
width: 100%;
height:100%;;
}
.fill img {
  /* lex-shrink: 0; */
  width: 200px;
  height:30px;
}
