.tutorial-header{
  position: relative;
  width: 100%;
  margin-left:0%;
  min-height:50px;
  margin-top:20px;
  text-align: center;
}

.overridestoreselect{
  background-color: red;
  margin-right:5px;
  border-radius: 10px;
  color: white;
  border:1px solid lightgray;
}

.overridestoreselect-active{
  background-color: white;
  color: red;
  margin-right:5px;
  border-radius: 10px;
  border:1px solid lightgray;
}

.hide{
  display: none;
}

.video-div{
position: relative;
margin-left: 100px;
width:calc(100% - 50px);
width:700px;
height:500px;
}
