<div class="row">
  <div class="col-md-12">
    <h1 class="text-center"  style="margin-top: 30px;font-size:30px;">User Guides</h1>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-md-3 text-center">
    <h5 [ngClass]="{'hide' : videoView}">Select Topic</h5>
    <h5 [ngClass]="{'hide' : !videoView}">Select Video</h5>
  </div>
  <div class="col-md-9 text-left">
    &nbsp;&nbsp;<button *ngFor="let tutorial of tutorialListDisplay" value="{{tutorial.tutorialId}}" [ngClass]="{'overridestoreselect-active': !tutorial.active, 'overridestoreselect' : tutorial.active }" (click)="getTutorialTypes(tutorial.tutorialId)">{{tutorial.tutorialName}}</button>
  </div>
</div>

<div class="row" style="margin-top:0px;">
  <div class="col-md-3 text-center">
   <span *ngFor="let tutorial of tutorialTypeList"> &nbsp;&nbsp;<button  value="{{tutorial.tutorialId}}" [ngClass]="{'overridestoreselect-active': !tutorial.active, 'overridestoreselect' : tutorial.active }" style="margin-bottom:5px;" (click)="setSelectVideo(tutorial.tutorialId)">{{tutorial.tutorialName}}</button><br></span>
  </div>
  <div class="col-md-9">
    <div class="video-div">
      <video [ngClass]="{'hide' : !videoSelected}" width="700px" height="550px" controls style="position: relative;">
        <source [src] ="selectedVideo" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
</div>
