
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <form class="login-form">
      <h3 class="text-center"><u>Login</u></h3>
      <div class="form-group" style="padding:10px;">
        <label for="_loginModel.username">Username: </label>
        <input type="email" class="form-control" id="username" name="_loginModel.username" [(ngModel)]="_loginModel.username">
      </div>
      <div class="form-group" style="padding:10px;">
        <label for="_loginModel.password">Password:</label>
        <input type="password" class="form-control" id="pwd" name="_loginModel.password" [(ngModel)]="_loginModel.password">
      </div>
      <!-- <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div> -->
      <div class="form-group text-center" style="padding:10px;">
        <button type="submit" class="btn btn-default login-form-button login-button" (click)="login()">Login</button>
      </div>
      <div class="form-group text-center" style="padding:10px;">
        <p *ngIf="isError">An error occured, please try again</p>
      </div>

    </form>
  </div>
  <div class="col-md-3">

  </div>
</div>

