<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayTemplateBox" class="template-create-container">
  <div class="createTemplateOptionContainer">
    <h4 style="text-align:center;padding-bottom:10px;background:red;color:white;border-radius:15px;">Create template</h4>
  </div>
  <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Name
    </div>
    <div class="createTemplateInputBox">
    <input style="width:100%;" class="createTemplateInput" type="text" name="newTemplateName" (blur)="setNewTemplateName($event.target.value)"/>
    </div>
  </div>
  <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Size
    </div>
    <div class="createTemplateInputBox">
      <select style="width:100%;" class="createTemplateInput" (change)="setNewTemplateSizeId($event.target.value)">
        <option>
          Select Size
        </option>
        <option *ngFor="let displayType of promoDisplayTypeList" value="{{displayType.id}}">
            {{displayType.size}} ({{displayType.description}})
        </option>
      </select>
    </div>
  </div>
  <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Band
    </div>
    <div class="createTemplateInputBox">
      <select style="width:100%;" class="createTemplateInput" (change)="setNewTemplateBandId($event.target.value)">
        <option>
          Select Band
        </option>
        <option *ngFor="let band of bandList" value="{{band.id}}">
          {{band.name}} ({{band.bandLetter}})
        </option>
      </select>
    </div>
  </div>
  <div class="createTemplateOptionContainer" style="padding-top:5px;">
    <input style="background-color: white;border:0px solid transparent;border-bottom:1px solid lightgray" type="button" (click)="createTemplate()" value="Submit">
  </div>
</div>
<div *ngIf="displayTemplatePackBox" class="template-create-container">
  <div class="createTemplateOptionContainer">
    <h4 style="text-align:center;padding-bottom:10px;background:red;color:white;border-radius:15px;">Create template Pack</h4>
  </div>
  <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Name
    </div>
    <div class="createTemplateInputBox">
    <input style="width:100%;" class="createTemplateInput" type="text" name="newTemplateName" (blur)="setNewTemplateName($event.target.value)"/>
    </div>
  </div>
  <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Size
    </div>
    <div class="createTemplateInputBox">
      <select style="width:100%;" class="createTemplateInput" (change)="setNewTemplateSizeId($event.target.value)">
        <option>
          Select Size
        </option>
        <option *ngFor="let displayType of promoDisplayTypeList" value="{{displayType.id}}">
            {{displayType.size}}
        </option>
      </select>
    </div>
  </div>
  <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Band
    </div>
    <div class="createTemplateInputBox">
      <select style="width:100%;" class="createTemplateInput" (change)="setNewTemplateBandId($event.target.value)">
        <option>
          Select Band
        </option>
        <option *ngFor="let band of bandList" value="{{band.id}}">
          {{band.name}} ({{band.bandLetter}})
        </option>
      </select>
    </div>
  </div>

  <!-- <div class="createTemplateOptionContainer">
    <div class="createTemplateLable">
      Stores
    </div>
    <div class="createTemplateInputBox">
      <select style="width:100%;" class="createTemplateInput">
        <option *ngFor="let store of storeList" value="{{store.storeId}}">
            {{store.storeName}}
        </option>
      </select>
    </div>
  </div> -->
  <div class="createTemplateOptionContainer" style="padding-top:5px;">
    <input style="background-color: white;border:0px solid transparent;border-bottom:1px solid lightgray" type="button" (click)="createTemplate()" value="Submit">
  </div>
</div>
<div class="row">
  <div class="col-md-12" class="text-center">
    <div class="template-header">
      <i class="fa fa-search"></i>&nbsp;
      Band&nbsp;&nbsp;
      <select class="search-button" (change)="templateBandSelect($event.target.value)">
        <option *ngFor="let band of bandList" value="{{band.id}}">
          &nbsp;&nbsp;{{band.bandLetter}}&nbsp;&nbsp;
        </option>
      </select>
      &nbsp;
      <i class="fa fa-search"></i>&nbsp;
      Template&nbsp;&nbsp;
      <select class="search-button" (change)="templateSelectOnChange($event.target.value)">
        <option *ngFor="let template of templateList" value="{{template.id}}">
            {{template.templateName}}
        </option>
      </select>
      &nbsp;
      <button  class="search-button"  (click)="openCreateTemplateBox()"><i class="fa fa-plus"></i> &nbsp;New Template</button>&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <!-- <button  class="search-button"  (click)="openCreateTemplatePackBox()"><i class="fa fa-plus"></i> &nbsp;New Template Pack</button>&nbsp;&nbsp;&nbsp; -->
      <!-- <b>S</b>&nbsp;
      <select class="search-button" (change)="changeTemplateSize($event.target.value)">
        <option value="794x1122">
            A4
        </option>
        <option value="210x105">
          210 x 105
      </option>
      </select> -->
      &nbsp;
      <button  class="search-button"  (click)="addObject()"><i class="fa fa-plus"></i>Object</button>&nbsp;&nbsp;&nbsp;

      <i class="fa fa-upload"></i> <button type="button" class="search-button" (click)="file.click()">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">Background
      </button>
      &nbsp;&nbsp; Product Code
      <select style="width:100px;" class="createTemplateInput" (change)="getTemplateDisplay($event.target.value)">
        <option value="0">
          Select Product
        </option>
        <option *ngFor="let displayType of promotions" value="{{displayType.buyersOfferID}}">
            {{displayType.promProdCode}}
        </option>
      </select>
      &nbsp;
      <button class="createTemplateInput" style="background-color: transparent;border:1px solid lightgrey;border-radius:5px;"  (click)="calculateZoomAdd()">Zoom</button>
      <button class="createTemplateInput" style="background-color: transparent;border:1px solid lightgrey;border-radius:5px;" (click)="calculateZoomSubtract()">Reset</button>
      <button class="createTemplateInput" style="background-color: transparent;border:1px solid lightgrey;border-radius:5px;" (click)="toggleBorder()">Spacing</button>
      <button class="createTemplateInput" style="background-color: transparent;border:1px solid lightgrey;border-radius:5px;" (click)="toggleGrid()">Grid</button>
      <!-- <button [hidden]="textView" class="search-button" (click)="getTemplateDisplaySet()"><i class="fa fa-toggle-off"></i> Display</button>
      <button [hidden]="!textView" class="search-button" (click)="setDisplayFields()"><i class="fa fa-toggle-on" style="color:red;"></i> Display</button> -->

      <!-- <button  class="search-button"  (click)="zoom()"><i class="fa fa-plus"></i>Zoom</button>&nbsp;&nbsp;&nbsp; -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="myidentifier" class="template-container">
    <div class="row">
      <div class="col-md-12" class="template-container">
        <div class="example-boundary" id="example-boundary" [ngStyle]="{'background-image': currentTemplate.backgroundImage, 'height':currentTemplateHeight, 'width':currentTemplateWidth, 'left':currentTemplateLeft}" >
        <div [ngClass]="{'hide' : !displayGrid}" class="vertical-grid-div"  *ngFor="let div of verticalDivs; let x = index" [ngStyle]="{'width':div.width,'height': div.height,'top': div.top,'left': div.left}"></div>
        <div [ngClass]="{'hide' : !displayGrid}" class="vertical-grid-div"  *ngFor="let div2 of horizontalDivs; let x = index" [ngStyle]="{'width':div2.width,'height': div2.height,'top': div2.top,'left': div2.left}" ></div>
        <div [ngClass]="{'hide' : !displayBorder}" class="vertical-border" [ngStyle]="{'width':spaceDivWidth,'height': spaceDivHeight,'top': spaceDivTop,'left': spaceDivLeft}"></div>
        <div class="example-box test" *ngFor="let templateDiv of currentTemplate.templateProperties; let i = index"
        mwlResizable
        [enableGhostResize]="true"
        (resizeEnd)="onResizeEnd($event, i)"
        [ngStyle]="{'z-index': templateDiv.zindex,'top': templateDiv.topProperty, 'left': templateDiv.leftProperty, 'width': templateDiv.width, 'height': templateDiv.height}"
        cdkDragBoundary=".example-boundary"
        (cdkDragEnded)="onDragEnded($event, i)"
        (cdkDragStarted)="onDragStart(i)"
        cdkDrag
        [ngClass]="{'example-boundary-active' : templateDiv.active}"
        >

        <div  [ngStyle]="{'top': inputOptionsTopPosition,'left': inputOptionsLeftPosition, 'right': inputOptionsRightPosition}" class="text-left" [className]="templateDiv.active ? 'display-input-options' : 'hide-input-options'">

          <div class="input-option-container input-header">
             <div class="text-center">
               Input Options
              <button class="pull-right" (click)="deleteTemplateProperty(templateDiv.id, i)"><i class="fa fa-trash"></i></button>
              <button class="pull-left" (click)="closeOptions(i)">X</button>
             </div>
          </div>
           <div class="input-seperator-style-options">
            <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                Link Field
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.fieldId" (change)="setField($event.target.value, i)">
                  <option *ngFor="let field of FieldList" value="{{field.id}}">
                    {{field.description}}
                  </option>
                </select>
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                Custom
              </div>
              <div class="text-options-data">
               <input class="input-option-select" (blur)="setPropertyText($event.target.value, i)" type="text" [(ngModel)]="templateDiv.textProperty">
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                Text Before
              </div>
              <div class="text-options-data">
               <input class="input-option-select" (blur)="setBeforeText($event.target.value, i)" type="text" [(ngModel)]="templateDiv.textBefore">
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                Text After
              </div>
              <div class="text-options-data">
               <input class="input-option-select" (blur)="setAfterText($event.target.value, i)" type="text" [(ngModel)]="templateDiv.textAfter">
              </div>
             </div>
             <!-- <div class="text-options-container">
              <div class="text-options-label">
                Font Size
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.fontSize" (change)="setFontSize($event.target.value, i)">
                  <option *ngFor="let fontSize of fontSizeList" value=" {{fontSize}}">
                    {{fontSize}}
                  </option>
              </select>
              </div>
             </div> -->
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                Font Type
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.fontstyle" (change)="setFontStyle($event.target.value, i)">
                  <option *ngFor="let font of FontList" value=" {{font.font}}">
                    {{font.font}}
                  </option>
                </select>
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
               Color
              </div>
              <div class="text-options-data">
                <input class="input-option-color" [(colorPicker)]="templateDiv.color" [style.background]="templateDiv.color" [(ngModel)]="templateDiv.color" (colorPickerChange)="setColor($event, i)"/>
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
               Weight
              </div>
              <div class="text-options-data">
                <button class="input-option-font" (click)="setFontWeight(i)"><i class="fa fa-bold"></i></button>
              </div>
             </div>
             <!-- <div class="text-options-container">
              <div class="text-options-label">
                Font Spacing
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.spacing" (change)="setFontSpacing($event.target.value, i)">
                  <option *ngFor="let spacing of textSpacingSizeList" value=" {{spacing}}">
                    {{spacing}}
                  </option>
               </select>
              </div>
             </div> -->
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                Strike
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.strikethrough" (change)="setFontStrikeThrough($event.target.value, i)">
                  <option value=0>
                    False
                  </option>
                  <option value=1>
                    True
                  </option>
               </select>
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                h - align
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.textAlign" (change)="setFontTextAlign($event.target.value, i)">
                  <option value=left>
                    Left
                  </option>
                  <option value=center>
                    Center
                  </option>
                  <option value=right>
                    Right
                  </option>
               </select>
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                v - align
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.verticalAlign" (change)="setFontVerticalAlign($event.target.value, i)">
                  <option value=Top>
                    Top
                  </option>
                  <option value=Center>
                    Center
                  </option>
                  <option value=Bottom>
                    Bottom
                  </option>
               </select>
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                Scew 45
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.rotate" (change)="setFontRotate($event.target.value, i)">
                  <option value=0>
                    False
                  </option>
                  <option value=1>
                    True
                  </option>
               </select>
              </div>
             </div>
             <div class="text-options-container" style="border-bottom:1px solid red">
              <div class="text-options-label">
                Date format
              </div>
              <div class="text-options-data">
                <select class="input-option-select" [(ngModel)]="templateDiv.dateFormat" (change)="setFontDateFormat($event.target.value, i)">
                  <option value=0>
                    dd/mm/yyyy
                  </option>
                  <option value=1>
                    Mon, 25 Oct 2021
                  </option>
                  <option value=2>
                    Monday, 25 October 2021
                  </option>
                  <option value=3>
                    Monday 25th October
                  </option>
                  <option value=4>
                    Monday 25 October
                  </option>
                  <option value=5>
                    Monday 25 October 2021
                  </option>
               </select>
              </div>
             </div>

        </div>
        </div>
        <span [ngClass]="{'strikediag' : templateDiv.strikethrough == 1,'rotateText' : templateDiv.rotate == 1 }" class="display-text" [ngStyle]="{' white-space': 'nowrap','border':'1px solid black;','font-size': templateDiv.fontSize, 'color': templateDiv.color, 'letter-spacing': templateDiv.spacing, 'font-weight': templateDiv.fontWeight, 'font-family': templateDiv.fontstyle}" (click)="styleOptions($event, i)">
          {{templateDiv.displayText}}
        </span>
        <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <!-- <div
        class="resize-handle-top"
        mwlResizeHandle
        [resizeEdges]="{ top: true }"
      ></div> -->
      <!-- <div
        class="resize-handle-left"
        mwlResizeHandle
        [resizeEdges]="{ left: true }"
      ></div> -->
      <div
        class="resize-handle-right"
        mwlResizeHandle
        [resizeEdges]="{ right: true }"
      ></div>
      <div
        class="resize-handle-bottom"
        mwlResizeHandle
        [resizeEdges]="{ bottom: true }"
      ></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="height:30px;">

  </div>
</div>
