.example-boundary {
  position:relative;
  /* height: 842px;
        width: 595px; */
        /* to centre page on screen*/
        /* margin-left: auto;
        margin-right: auto; */
  /* width: 794px;
  height: 1122px; */
  max-width: 100%;
  border: dotted #ccc 2px;
  /* left:385px; */
  /* background-image: url("C:/Users/hicks/work/promos/api/promos/Resources/Images/Bigger Pack Better Value A4 Template.jpg"); */
  background-size: cover;
  background-position: center;
  background-position: 0px 0px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.example-boundary-active{
  background-color: lightgray !important;

}
.hide{
  display:none;
}

.vertical-grid-div{
  position:relative;
  position: absolute;
  background:black;
}

.vertical-border{
  position:relative;
  position: absolute;
  background:transparent;
  border: 1px solid black;
}
.example-box {
  width: 200px;
  height: 200px;
  border-style: dotted;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  position:absolute;
  z-index: 1;
  background-color: transparent;
  word-wrap: break-all;
  line-height: normal;
  border:1x solid black;
  /* transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1); */
  /* box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}

.example-box:active {
  /* box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12); */
}

.example-box:hover {
  /* box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12); */
}

.display-text:hover{
  cursor:pointer;

}

.display-text{
  display: inline-block;
}


.rotateText{
  font-size:10px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);	 /*  for IE  */
  /* 	for browsers supporting webkit (such as chrome, firefox, safari etc.). */
  -webkit-transform: rotate(-45deg);
}

mwlResizable {
  box-sizing: border-box;
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

.example-handle{
  top:0px !important;
  right:0px !important;
}



.strikediag {
  background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
  /* background:black; */
}

.hide-input-options{
  display: none;
}

.template-header{
  position:relative;
  width:100%;
  height:50px;
  padding-bottom:10px;
  padding-top:10px;
}



.display-input-options{
  position:relative;
  position:absolute;
  top:0px;
  right:-205px;
  width:200px;
  min-height:170px;
  border:1px solid lightgrey;
  z-index:2;
  background:white;
  border:1px solid black;
}

.input-option-container{
  position: relative;
  width: 100%;
  min-height:25px;
  padding:3px;
  float:left;
}

.input-header{
  background:red;
  color:white;
  font-weight:20px;
}

.input-option-label{
  position: relative;
  width: calc(20% - 6px);
  min-height:25px;
  float:left;
}
.input-option-value{
  position: relative;
  width: calc(80% - 6px);
  min-height:25px;
  float:left;
}

.input-option-select{
  position: relative;
  width: 100%;
  border:1px solid transparent;
  border-bottom: 1px solid transparent;
  text-align:center;
}

.input-option-color{
  border:1px solid lightgrey;
  border-radius: 10px;
  height:20px;
  width:20px;
  color:transparent;
}

.input-option-color:hover{
 cursor:pointer;
}

.input-option-font{
  border:1px solid transparent;
  border-bottom: 1px solid lightgrey;
  background-color: transparent;
}

.input-seperator{
  position: relative;
  width: 100%;
  min-height:25px;
  float:left;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid red;
  font-weight:bold;
  margin-bottom: 10px;
}

.input-seperator-style-options{
  position: relative;
  width: 100%;
  min-height:25px;
  float:left;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight:bold;
  margin-bottom: 5px;
}

.text-options-container{
  position: relative;
  width: 100%;
  min-height:25px;
  float:left;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight:bold;
  margin-bottom: 5px;
}

.text-options-label{
  position: relative;
  width: 40%;
  float:left;
}

.text-options-data{
  position: relative;
  width: 60%;
  float:left;
}

::ng-deep .mat-form-field {
  width: 50px !important;
  height: 25px !important;
  }
 ::ng-deep .mat-label {
  width: 50px !important;
  height: 25px !important;
  }
 ::ng-deep .mat-select {
  width: 50px !important;
  height: 25px !important;
  }

 ::ng-deep .mat-option {
  width: 50px !important;
  height: 25px !important;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.template-create-container{
  position: relative;
  position: absolute;
  top: 100px;
  left: 600px;
  margin-top: -50px;
  margin-left: -50px;
  width: 340px;
  height: 220px;
  background-color: white;
  z-index: 99999;
  border:3px solid red;
  border-radius: 15px;;
  text-align:center;
  margin-top:3px;
}
.createTemplateOptionContainer{
  position: relative;
  width:100%;
  min-height:30px;
  float:left;
}

.createTemplateLable{
  position: relative;
  width:35%;
  height:30px;
  float:left;
}
.createTemplateInputBox{
  position: relative;
  width:65%;
  height:30px;
  float:left;
}
.createTemlateInput{
  position: relative;
  width:100%;
  height:35px;
}
